<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0XQCTVCFKC"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-0XQCTVCFKC');
        </script>
        <title>About Me</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form action="/" method="get">
            <button type="submit">Back to search</button>
        </form>
        <h1>
            About Me (Aiden Dugan)
        </h1>
        <p>
            I like coding (placeholder)
        </p>

        <form action="/" method="get">
            <button type="submit">Back to search</button>
        </form>
        {% include "footer.html" %}
    </body>
</html>
